.board {
  --board-size: 5;

  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--board-size), 1fr);
  width: calc(var(--board-size) * 50px);

  height: calc(var(--board-size) * 50px);
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}

.board__cell {
  aspect-ratio: 1/1;
  background: none;
  background-color: #eee;
  border: 0;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  cursor: pointer;
  transition: 0.2s background-color;
}

.board__cell--clicked {
  color: green;
  font-weight: bold;
  background-color: #cfc;
}

.board__cell:hover {
  background-color: #fff;
}

.board__cell:active {
  transform: scale(1.1);
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}

.board__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
}

.board__btn {
  display: block;
}