.btn {
  display: flex;
  align-items: center;
  padding: 10px 11px;
  margin-bottom: 8px;
  width: 200px;
  color: #333;
  font-size: 20px;
  text-decoration: none;
  border: 2px solid #333;
  border-radius: 10px;
  background: #eee;
  transition: 0.2s color background;
}

.btn:hover {
  background: #444;
  color: #eee;
}

.btn:active {
  opacity: 0.6;
}

.btn svg {
  margin-right: 10px;
}

@media (max-width: 800px) {
  .btn {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .btn svg {
    margin-right: 0;
  }

  .btn span {
    display: none;
  }
}