.info {
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 40px;
}

.info ul {
  margin: 0;
  padding: 20px;
}

.info li {
  margin-bottom: 1em;
}

.info li:last-child {
  margin-bottom: 0;
}

.info__origin {
  font-style: italic;
  text-align: right;
}

.info__pagination {
  padding-top: 30px;
}