.info {
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 40px;
}

.info ul {
  margin: 0;
  padding: 20px;
}

.info li {
  margin-bottom: 1em;
}

.info li:last-child {
  margin-bottom: 0;
}

.info__origin {
  font-style: italic;
  text-align: right;
}

.info__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.info__pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  color: #000;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #eee;
  cursor: pointer;
}

.info__pagination-btn:not(:disabled):hover {
  background-color: #cecece;
}

.info__pagination-btn:not(:disabled):active {
  color: rgba(0, 0, 0, 0.6)
}

.info__pagination-btn:disabled {
  opacity: 0.3;
}

.info__pagination-value {
  padding: 0 20px;
  font-size: 20px;
}